.search {
    display: flex;
    justify-content: center;
}

.searchBox {
    margin-top: 35px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border-radius: 15px;
    width: 80%;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


.wrapper { 
  display: grid; 
  grid-template-columns: 100px 100px 100px; 
  grid-gap: 10px; 
  background-color: #fff; 
  color: #444; 
} 

.box { 
  background-color: #444; 
  color: #fff; 
  border-radius: 5px; 
  padding: 20px; 
  font-size: 150%; 
}

.searchText {
    background-color: transparent;
    font-size: 15px;
    border: none;
    line-height: 40px;
    padding-left: 20px;
    width: 75%;
    text-decoration: none;
}

textarea:focus,
input:focus,
select:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.searchImgBox {
    padding-right: 20px;
}

.searchImg {
    width: 20px;
    height: 20px;
    padding-top: 5px;
}

@media screen and (min-width: 768px) {
    .searchText {
        width: 90%;
        font-size: 18px;
    }
 }